<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prencha todos os campos</title>

    <link rel="icon" href="/images/logo-icon.png" />

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/animation.css" />
    <link rel="stylesheet" href="/css/buttons.css" />
    <link rel="stylesheet" href="/css/page-error.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap"
      rel="stylesheet"
    />
</head>
<body id="page-error">
    <div id="container">

     <main class="animate-appear error-container">
     
         <h1 class="animate-appear"> <img src="/images/info-red.svg" alt="Error">  Erro!  <img src="/images/info-red.svg" alt="Error"></h1>

        <p class="animate-appear">Marque um ponto no mapa</p>
        

         <footer class="animate-appear">
        <button class="error-backspace" onclick="history.back()">
          <img src="/images/arrow-back.svg" alt="Voltar" title="Voltar para o formulário">
        </button>
      </footer>
    </main>

    </div>
</body>
</html>